#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    // config de mpd
    address: "/home/jpablo/.config/mpd/socket",
    password: None,

    // caché para descargas de YouTube
    cache_dir: Some("/home/jpablo/.cache/rmpc"),

    // selección de tema
    theme: "theme.ron",

    // configuración general
    rewind_to_start_sec: 5,
    keep_state_on_song_change: true,
    duration_format: "%m:%S",
    normal_timeout_ms: 1000,
    insert_timeout_ms: 1000,
    volume_step: 5,
    max_fps: 144,
    scrolloff: 3,
    wrap_navigation: true,
    enable_mouse: true,
    scroll_amount: 1,
    status_update_interval_ms: 1000,
    select_current_song_on_change: true,
    center_current_song_on_change: true,
    browser_song_sort: [Artist, Album, Title],
    directories_sort: SortFormat(group_by_type: true, reverse: false),

    // configuración de cava
    cava: (
        framerate: 144,
        autosens: true,
        sensitivity: 120,
        lower_cutoff_freq: 20,
        higher_cutoff_freq: 20000,
        input: (
            method: Fifo,
            source: "/tmp/mpd.fifo",
            sample_rate: 44100,
            channels: 2,
            sample_bits: 16,
        ),
        smoothing: (
            noise_reduction: 40,
            monstercat: false,
            waves: false,
        ),
    ),

    // configuración de pestañas
    search: (
        case_sensitive: false,
        ignore_diacritics: false,
        search_button: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Cualquier etiqueta"),
            (value: "artist",      label: "Artista"),
            (value: "album",       label: "Álbum"),
            (value: "albumartist", label: "Artista del álbum"),
            (value: "title",       label: "Título"),
            (value: "filename",    label: "Nombre de archivo"),
        ],
    ),

    // atajos de teclado
    keybinds: (
        global: {
            "q":          Quit,
            "?":          ShowHelp,
            ":":          CommandMode,
            "oI":         ShowCurrentSongInfo,
            "oo":         ShowOutputs,
            "op":         ShowDecoders,
            "od":         ShowDownloads,
            "oP":         Partition(),
            "z":          ToggleRepeat,
            "x":          ToggleRandom,
            "c":          ToggleConsume,
            "v":          ToggleSingle,
            "p":          TogglePause,
            "s":          Stop,
            ">":          NextTrack,
            "<":          PreviousTrack,
            "f":          SeekForward,
            "b":          SeekBack,
            ".":          VolumeUp,
            ",":          VolumeDown,
            "<Tab>":      NextTab,
            "gt":         NextTab,
            "<S-Tab>":    PreviousTab,
            "gT":         PreviousTab,
            "1":          SwitchToTab(" Cola"),
            "2":          SwitchToTab("󰲸 Playlists"),
            "3":          SwitchToTab(" Directorios"),
            "4":          SwitchToTab(" Búsqueda"),
            "<C-u>":      Update,
            "<C-U>":      Rescan,
            "R":          AddRandom,
            "E":          ExternalCommand(
                command: ["bash", "-c", "mpc clear 2>/dev/null; mpc add / 2>/dev/null; mpc random on 2>/dev/null; mpc play 2>/dev/null"],
                description: Some("Reproducir toda la biblioteca aleatoriamente"),
            ),
        },
        navigation: {
            "<C-c>":      Close,
            "<Esc>":      Close,
            "<CR>":       Confirm,
            "k":          Up,
            "<Up>":       Up,
            "j":          Down,
            "<Down>":     Down,
            "h":          Left,
            "<Left>":     Left,
            "l":          Right,
            "<Right>":    Right,
            "<C-w>k":     PaneUp,
            "<C-Up>":     PaneUp,
            "<C-w>j":     PaneDown,
            "<C-Down>":   PaneDown,
            "<C-w>h":     PaneLeft,
            "<C-Left>":   PaneLeft,
            "<C-w>l":     PaneRight,
            "<C-Right>":  PaneRight,
            "K":          MoveUp,
            "J":          MoveDown,
            "<C-u>":      UpHalf,
            "<C-d>":      DownHalf,
            "<C-b>":      PageUp,
            "<PageUp>":   PageUp,
            "<C-f>":      PageDown,
            "<PageDown>": PageDown,
            "gg":         Top,
            "G":          Bottom,
            "<Space>":    Select,
            "<C-Space>":  InvertSelection,
            "/":          EnterSearch,
            "n":          NextResult,
            "N":          PreviousResult,
            "a":          Add,
            "A":          AddAll,
            "D":          Delete,
            "<C-r>":      Rename,
            "i":          FocusInput,
            "oi":         ShowInfo,
            "<C-z>":      ContextMenu(),
            "<C-s>s":     Save(kind: Modal(all: false, duplicates_strategy: Ask)),
            "<C-s>a":     Save(kind: Modal(all: true, duplicates_strategy: Ask)),
            "r":          Rate(),
        },
        queue: {
            "d":          Delete,
            "D":          DeleteAll,
            "<CR>":       Play,
            "C":          JumpToCurrent,
            "X":          Shuffle,
        },
    ),

    // configuración de posición de pestañas
    tabs: [
        (
            name: " Cola",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "44%",
                        borders: "RIGHT",
                        pane: Pane(AlbumArt)
                    ),
                    (
                        size: "56%",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (
                                    size: "2",
                                    borders: "BOTTOM",
                                    pane: Split(
                                        direction: Horizontal,
                                        panes: [
                                            (size: "1", pane: Pane(Empty())),
                                            (size: "100%", pane: Pane(QueueHeader())),
                                        ]
                                    )
                                ),
                                (
                                    size: "50%",
                                    borders: "BOTTOM",
                                    pane: Split(
                                        direction: Horizontal,
                                        panes: [
                                            (size: "1", pane: Pane(Empty())),
                                            (size: "100%", pane: Pane(Queue)),
                                            (size: "1", pane: Pane(Empty())),
                                        ]
                                    )
                                ),
                                (
                                    size: "50%",
                                    pane: Pane(Cava)
                                )
                            ],
                        )
                    ),
                ],
            ),
        ),
        (name: "󰲸 Playlists", pane: Pane(Playlists)),
        (name: " Directorios", pane: Pane(Directories)),
        (name: " Búsqueda", pane: Pane(Search)),
    ],
)
